$burned-clay: #272822;
$orchid: #f92672;
$bounded-rationally: #66d9ef;
$henn1nk: #a6e22e;
$pumpkin-spice: #fd971f;

/* RGB from: https://gist.github.com/whostolemyhat/af9fb0c10aeeaff0557d */
/*
background (46, 46, 46)
comment grey (121, 121, 121)
white (214, 214, 214)
yellow (229, 181, 103)
green (180, 210, 115)
orange (232, 125, 62)
purple (158, 134, 200)
pink (176, 82, 121)
blue (108, 153, 187)


// lighter
background 272822 / 39,40,34
pink       F92672 / 249,38,114
blue       66D9EF / 102,217,239
green      A6E22E / 166,226,46
orange     FD971F / 253,151,31
yellow     E6DB74 / 230,219,116
purple     AE81FF / 174,129,255

firebrick
#341e48 (purple)
#E8117F (pink)
oldlace
*/
